@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}

html {
    height: 100%;
    width: 100%;
}

body {
   color: white;
   background-color: red;
   /* background-color: rgb(17 24 39); */
   height: 100%;
   width: 100%;
}